[2016-12-17 04:58] lasernite opened #2 "More concise still?"
Line 332 of Chapter one, "{ list.map((item) =>", the docs referenced at the bottom of the page suggest you can even just do "{ list.map(item =>"? Any reason this wouldn't be preferred?

Thanks for the resource, awesome so far!

[2016-12-17 09:03] rwieruch commented on #2
Good point! You can do that. People leave out the brackets in arrow functions when they have only one argument. It might be even a common code style in ES6 already.I might change that in the book. Thanks 👍

[2016-12-17 23:28] taufiqkh opened #4 "Object spread operator is not explained on first use"
When using the array spread operator for the first time, its use is mentioned and a link provided to the ES6 array spread operator. When the **object** spread operator is used for the first time however (pages 52-53) it might be worth mentioning its use and a similar link provided to a definition. The use of the object spread was in the following example:
[code]
The page linked to for the array sp

[2016-12-18 02:25] lasernite commented on #2
Thanks!

Another note (not sure how much pedantry is actually useful), "built-in JavaScript functionalities like map can be used render a list of items" should be "built-in JavaScript functionalities like map can be used **to** render a list of items" on page 13

[2016-12-18 09:58] rwieruch commented on #2
Yes. I will change it when you don't do it :) Thanks for the hint again! Please stay pedantic 👍

[2016-12-18 12:22] rwieruch commented on #2
Ok, I changed it. Thanks again :)

[2016-12-18 12:22] #2 closed

[2016-12-18 12:24] rwieruch commented on #4
Good catch! I had this in my mind at some point, but forgot about it. I added a brief explanation now, but kept the reference to the official developer.mozilla documentation. I know the proposal page by sebmarkbage, but I am unsure if it stays updated. Thanks for making me aware of it 👍

[2016-12-18 12:24] #4 closed

[2016-12-18 12:55] taufiqkh commented on #4
No worries, been a good read, thanks!

[2016-12-20 21:42] tyleri opened #9 "Confused about this.setState"
~~In chapter2, it says "By using `this.setState` you can manipulate the internal component state."~~

~~Where does this.setState come from? I don't see it defined anywhere. Is it built into React?~~

edit: Was able to look it up and read about it [here](https://facebook.github.io/react/docs/react-component.html#setstate). Might be a good idea to link a resource like this in the book?

On the same

[2016-12-20 23:12] tyleri opened #10 "Why is value={query} necessary?"
In chapter2, the book says to insert value={query} in this line:
`<input type="text" value={query} onChange={this.onSearchChange} />`

Why is this necessary? The filtering seems to work without it.

[2016-12-20 23:17] tyleri commented on #9
Personally, I think this is easier to understand than using bind, but it may be personal preference:
[code]

[2016-12-23 06:45] tyleri commented on #9
Closing this because I realized that this was actually also used in the Facebook React example page. Sorry for jumping the gun on this before reading further!

[2016-12-23 07:53] rwieruch commented on #9
Hi @tyleri Yes I followed the "official" React best practices from the documentation. Your version is alright, but it wouldn't scale very well that way. Imagine you have not 1 but 10 class methods. Then you want to have an overview of the interface for all methods somewhere, but not the whole method. But thanks, I will think about it again and maybe add a paragraph to the book about it. That's why

[2016-12-23 07:55] rwieruch commented on #10
I have to check again the book. Because of the unidirectional data flow in React applications, you need to let flow the data back to its components. You want to keep them as _Controlled Components_ https://facebook.github.io/react/docs/forms.html But I will keep that open to improve the book paragraph on that! Thanks :)

[2016-12-23 07:55] rwieruch commented on #10
@tyleri please keep asking, only that way I know which chapters I can improve 👍

[2016-12-23 08:12] tyleri commented on #10
Thanks for responding! Feel free to close the issue.

[2016-12-23 08:13] tyleri commented on #9
Great explanation! Thank you!

[2016-12-25 03:35] lasernite opened #12 "Page 21 broken code snippet?"
[code]

"Syntax error: Unterminated regular expression (26:81)"

[2016-12-25 03:37] lasernite commented on #12
Dyou mean `return !query || item.title.toLowerCase().indexOf(query.toLowerCase()) !== -/1/;` ?

[2016-12-25 11:59] rwieruch commented on #12
Argh, the line break is a bit confusing here. I have to fix that. It's:

`return !query || item.title.toLowerCase().indexOf(query.toLowerCase()) !== -1;`

[2016-12-25 21:40] lasernite commented on #12
Thanks! Probably just removing the the "\\\" is the most easy to understand. Or you could put the symbol in another color?

[2016-12-26 02:43] robertf224 opened #13 "Basics in React -> Interactions in Components -> ES6 Sugar suggestion"
Since we're doing ES6 stuff here anyway, might also want to use .includes() over .indexOf() !== -1

(https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/includes)

[2016-12-26 02:44] robertf224 commented on #10
also found this a bit confusing, would love a bit about "unidirectional data flow" here (or maybe a suggestion to look at the forms link at the end of the chapter which ended up clearing some things up), ended up googling things

[2016-12-26 06:31] tyleri commented on #12
Even though I understood the intention, I also felt that the backslashes for broken lines was a little confusing. Maybe instead, you could break up the line in a way that's also syntactically correct in Javascript? For example,

[code]

I think using this style is easier to read and understand.

[2016-12-26 07:12] tyleri opened #14 "Using JavaScript ES6 to define functions instead of bind (Suggestion)"
This is kind of a follow-up to #9, but I'd like to suggest using ES6 arrow functions to define the functions in App. For example, the following example from the book:

[code]

could also be expressed as:

[code]

Even though the official React tutorials use bind, since using ES6 is encouraged, I think it'd be a good idea to incorporate this usage. By the way, I got this idea from the [MDN page abo

[2016-12-26 08:27] tyleri opened #16 "Confusion about the spread operator (suggestion)"
In the function setSearchTopstories, the following code is used to update `state.results` with a new list of hits for the searchKey:

[code]

I was slightly confused about this usage of the spread operator, because the [linked MDN page](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Operators/Spread_operator#Only_for_iterables) says "Note that the spread operator can be applied onl

[2016-12-26 10:09] rwieruch commented on #13
Great find! 👍

[2016-12-26 10:12] rwieruch commented on #16
Yes, seems like I forgot to mention it properly! Will improve all the issues today 👍 Thank you so much!

[2016-12-26 15:12] rwieruch commented on #12
https://github.com/rwieruch/the-road-to-learn-react/commit/04d47b2d28e9c50fe104d421e72959cb94e13012

[2016-12-26 15:13] rwieruch commented on #16
https://github.com/rwieruch/the-road-to-learn-react/commit/a7eaf820916684e942d4dba0a4baf71124ac0b64

[2016-12-26 15:14] rwieruch commented on #13
https://github.com/rwieruch/the-road-to-learn-react/commit/04d47b2d28e9c50fe104d421e72959cb94e13012

[2016-12-31 23:25] tyleri commented on #16
This looks good! I think you can close this issue 🙂

[2017-01-03 09:54] #16 closed

[2017-01-03 09:54] #12 closed

[2017-01-03 09:55] #13 closed

[2017-01-03 11:00] iamwithnail opened #20 "Couldn't get preventDefault() to work"
Having gone through the book (as of the version available 21st December, as I was using a printed copy based on 884f31e)

I tried a number of things to get the `event.preventDefault()` line in `onSearchSubmit` to work - I understand from [this answer on SO](http://stackoverflow.com/a/36319301/1293222) that it's because of the Native event/Synthetic event difference.  Fundamentally though, wherever

[2017-01-14 09:00] tyleri commented on #20
Can you copy and paste your code for onSearchSubmit? It seems to work fine for me, and I've been following the version of the PDF I downloaded on December 18th.

[2017-01-14 11:38] rwieruch commented on #10
I added a whole unidirectional data flow chapter in version 2 which is released now. Thanks for the suggestion!

[2017-01-14 11:38] #10 closed

[2017-01-17 20:29] bpesquet opened #23 "Use .md extension for chapter files"
You could use a `.md` extension for the chapter files instead of `.txt`. It's an (undocumented) feature of Leanpub and it greatly improves rendering on GitHub.

[2017-01-29 20:29] PreciseAsteroid opened #24 "App.js default unit test fails"
The default test with jest fails. log below.
My guess is that is related to the fact that the App component fires http requests that returns a promise and that the default test does not handle.

`TypeError: Network request failed
        at XMLHttpRequest.xhr.onerror (/Users/cookies/Documents/programming/learnreact/hackernews/node_modules/whatwg-fetch/fetch.js:408:16)
        at XMLHttpRequest.cal

[2017-02-14 23:01] DylanDelobel opened #29 "Use let instead of var"
Since you compare ES5 and ES6 what about replace `var` to `let`

Example : https://github.com/rwieruch/the-road-to-learn-react/blob/master/manuscript/chapter3.txt#L73

[2017-02-17 17:17] rwieruch commented on #29
@DylanDelobel have a look in here: https://github.com/rwieruch/the-road-to-learn-react/pull/30 Do you think that it is a valid reason or would you argue that it's confusing?

[2017-02-17 17:18] rwieruch commented on #23
Thanks for the hint @bpesquet ! I will test it 👍

[2017-02-17 17:19] rwieruch commented on #14
@tyleri thanks for the suggestion and sorry for my late reply on this! I think I will mention it, but I would stick to the official documented way for now.

[2017-02-20 15:07] gideondsouza opened #31 "stuck with code at nteraction with forms and events"
Hi,

I bought your book. Thanks very much for it.

I'd really like to suggest having a per chapter branch or tag of this hacker news app. So that, like me, if someone gets stuck somewhere they can review what the code should look like at the end of that chapter by fetching that branch or tag in the repo.

I looked online, stackoverflow and the final hacknews app and still can't figure what is wron

[2017-02-20 15:31] DylanDelobel commented on #29
Hi @rwieruch ,

If you use a up-to-date IDE, it will detect JSX and ES6 and will highlight every `var` like a bad practice

Use const look less confusing, at least for me, what about adding a link in Exercices ?

- Read more about [ways to declare varibales](https://medium.com/@asadalikanwal/javascript-es6-var-let-or-const-f54b8f3722e5#.jxe8hdcz2)

[2017-02-21 15:54] bpesquet commented on #23
You're welcome! Good luck on your book, i'll keep an eye on it.

[2017-02-21 15:54] #23 closed

[2017-02-21 19:46] rwieruch commented on #29
Hi @DylanDelobel Since I head it more often now, I changed `var` to `const` in all ES6 code pieces: https://github.com/rwieruch/the-road-to-learn-react/commit/fd102a4ea71be1cd2ba2f0c2c927e1fe5f6963a3 Thanks for your feedback 👍

I tried to avoid to link third party articles, because I have no real control over them. They could be taken offline or get out of date.

[2017-02-21 19:47] rwieruch commented on #24
@PreciseAsteroid When do the tests fail? Right after you implemented them in chapter 3 or at the end of the book?

[2017-02-21 19:49] rwieruch commented on #31
Hi @gideondsouza Can you try

`<button type="button" onClick={() => this.onDismiss(item.objectID)}>`

instead of

`<button type="button" onClick={()=>{this.onDismiss(item.objectID)}}>`

Great idea to have a per chapter branch/tag! I will do it.

[2017-02-25 20:26] rwieruch commented on #31
@gideondsouza I added references for each chapter in the source code repository. https://github.com/rwieruch/hackernews-client

[2017-02-25 20:27] rwieruch commented on #24
As a reference: https://github.com/rwieruch/hackernews-client

[2017-02-25 21:48] gideondsouza commented on #31
Wow. Thank you son much. Dankeschön!!

On Sun, 26 Feb 2017 at 1:56 AM, Robin Wieruch <notifications@github.com>
wrote:

[2017-02-25 21:55] #31 closed

[2017-02-26 14:51] jzse opened #33 "Feedback"
Hi Robin, just finished the book, thanks for working on this, it was easy to follow and I feel confident in starting a new app from scratch in the coming days. The exercises at the end of each section were very rewarding e.g. implement fontawesome sorting icons with the classnames package.

I wish there was a little more on testing. Maybe another implementation example, say, after a component is r

[2017-02-26 15:13] rwieruch commented on #33
That's great and valuable feedback! Wow, thank you so much for it @jypsum Since I am working on the 3rd. edition at the moment, I will take your points into account.

It's great to know that people do some of the exercises and that I could add more them. Because as you said, they can be rewarding when you achieve something on your own. I agree with the testing part. I will do my best to improve it

[2017-03-05 13:41] #29 closed

[2017-03-05 13:42] rwieruch commented on #20
As a reference https://github.com/rwieruch/hackernews-client that might help.

[2017-03-19 15:59] dudko opened #36 "Use of default parameter for fetchSearchTopstories"
Hello,

first of all, thank you for you book! It's clear, gets to the point without overwhelming details, perfect starting point to the React world.

As a feedback, I would suggest to use [default parameter](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Functions/Default_parameters) in function `fetchSearchTopstories` in chapter **Paginated Fetch**.  You can then omit the second a

[2017-03-22 09:28] dudko commented on #24
I can confirm this issue. In order to reproduce it, just `git checkout 393ce5a` in referenced repo and `npm run test`.

[2017-03-22 10:40] rwieruch commented on #24
@dudko thanks! I will check it. Can you confirm that it fails because of the http requests?

[2017-03-22 14:00] dudko commented on #24
I don't know. I was trying to figure it out on my own, but without result. Tests are passing, just exception is thrown.

[2017-03-25 21:32] heticeric commented on #14
Completely agree with @tyleri.
Why just not using arrow function that use lexical scope for this !

[code]

I don't personally see any reason to stick with FB, since ES6.

[2017-04-01 10:55] rwieruch commented on #36
Hi @dudko Thanks for the recommendation. Glad that you like it. I would change this in the next edition of the book. Since it is a code chance, I would need to apply it to another course too. That's why it makes sense to bulk these changes in the next edition. Thanks again!

[2017-04-01 10:56] rwieruch commented on #24
I will double check it in the next edition of the book. Thanks for your report on this! Really appreciate it @dudko @PreciseAsteroid

[2017-04-01 11:01] rwieruch commented on #20
Will close this now, because we didn't hear anything back.

[2017-04-01 11:01] #20 closed

[2017-04-01 11:02] rwieruch opened #40 "TopStories instead of Topstories"
ref: https://github.com/rwieruch/the-road-to-learn-react/pull/35

[2017-04-14 12:15] doureyd commented on #14
I think that Facebook will probably move to the ES6 arrow functions in the future. You can find more information about the different Binding Patterns in [this article](https://medium.com/@housecor/react-binding-patterns-5-approaches-for-handling-this-92c651b5af56).

[2017-04-14 15:03] rwieruch commented on #14
Thank you very much @daynox ! I will consider it for the next edition 👍

[2017-04-15 11:58] daynox opened #41 "Hot Module Replacement instead of Hot Module Reloading"
Just a little mistake in [Chapter 1](https://github.com/rwieruch/the-road-to-learn-react/blob/master/manuscript/chapter1.md#hot-module-reloading), here is the [Webpack Documentation](https://webpack.js.org/concepts/hot-module-replacement/#components/sidebar/sidebar.jsx).
Nice job by the way! 👍

[2017-04-15 13:11] rwieruch commented on #41
@daynox are you referring to the naming? Or did something about the usage change as well? Thanks for pointing me in the direction :)

[2017-04-15 14:34] doureyd commented on #41
@rwieruch Only the naming :)

[2017-04-28 20:03] aledavila opened #42 "SORTS[sortKey] is not a function"
I have the same code that you have written and when i run the tests it fails at TABLE yet my application works just fine and I don't get any errors in the console.

[2017-04-29 18:04] lholdsworth opened #43 "code line breaks with \ confuse people"
Excellent book, thanks very much for putting this together.  I'm working through it and on page 84/85 where you deal with the pagination / Hacker news API the book mentions the following code:

[code]
I was getting an error here, I think due to the \ after the page variable is increased by 1.  I.e. should be:

[code]

If I am indeed correct, I hope that helps someone.

[2017-05-02 04:25] rwieruch commented on #43
Hi @lholdsworth

Thanks for opening the issue. The `\` is automatically added in the book when there is a line break. Unfortunately people run into this issue and it comes to confusion. I will address this problem in the next edition and try to keep the code lines short.

Thanks again 👍

[2017-05-02 04:30] rwieruch commented on #41
Okay. Goes in into the next edition! Thanks :)

[2017-05-02 04:33] rwieruch commented on #42
Might be related to https://github.com/rwieruch/the-road-to-learn-react/issues/24

Thanks for pointing it out. I will address it in the next edition. If you have any hints how to fix it, I would welcome them :)

[2017-06-11 16:03] shabbir1993 commented on #31
@gideondsouza did it work for you ? I've tried it but still stuck there... @rwieruch can you please look into it ?

[2017-06-11 16:15] rwieruch commented on #31
@shabbir1993 can you share your code on GitHub or somewhere else? Otherwise you can find the Source of each chapter here: https://github.com/rwieruch/hackernews-client

[2017-06-11 16:32] gideondsouza commented on #31
Yes @shabbir1993 eventually it did I don't remember what fixed it **or** if I just moved forward to the chapter. I think posting your code in a gist or directly here would be helpful.

[2017-06-11 18:03] shabbir1993 commented on #31
@rwieruch Well thanks , just figured it out, it's working now, I had to change `list.map(function(item){...})` to arrow function and it worked

[2017-06-11 19:39] rwieruch commented on #31
That's good to know! I will revisit the chapters and see if I can change something around this issue. Thanks again for your help!

[2017-06-18 10:22] rwieruch opened #51 "Unhandled Promise Rejection"
See https://github.com/rwieruch/hackernews-client/issues/3#issuecomment-308533130

[2017-06-18 10:23] rwieruch opened #52 "Snapshot test fails if we don't use isomorphic-fetch"
See https://github.com/rwieruch/hackernews-client/issues/2

[2017-06-23 11:42] Fenwick17 commented on #24
Is there an update for this which will allow me to progress? Currently can't run the default unit test or anything after that.

[2017-06-23 12:24] rwieruch commented on #24
Can you verify if this hot fix by @devserkan would work @Fenwick17 ? https://github.com/rwieruch/hackernews-client/issues/2 I have it already on my list for the next edition (see https://github.com/rwieruch/the-road-to-learn-react/issues/52).

[2017-06-23 12:31] Fenwick17 commented on #24
Have just tested this out with the default test and it does pass. I will continue with the book creating custom tests, and report back.
It is worth noting the versions I am using:
Node - v8.1.2
Yarn - 0.21.3
NPM - 5.0.3

[2017-06-23 12:46] rwieruch commented on #24
Perfect. Thank your very much for providing the feedback! 👍

[2017-06-26 10:30] Fenwick17 opened #53 "Tests pass but display console log errors"
Test Suite, Tests and Snapshots all correctly pass but terminal shows multiple console log errors.
`console.error node_modules/fbjs/lib/warning.js:36
    Warning: Failed prop type: The prop value is marked as required in Search, but its value is undefined.
        in Search (at App.test.js:26`

  `console.error node_modules/fbjs/lib/warning.js:36
    Warning: Failed prop type: The prop onChange is

[2017-06-26 17:42] rwieruch commented on #53
@Fenwick17 can you answer me a couple of questions that I can jump into the problem?

Which chapter/page does it happen for you?
Did the tests never ran before or did they fail after a while?
Which node version do you have (command line: node -v)?
Do you have your GitHub repository somewhere accessible to check the code?

Thanks for your help!
Note: It's not related to the network requests, is it?

[2017-06-26 19:07] Fenwick17 commented on #53
https://github.com/Fenwick17/road-to-react-learning This is the repo for my progess which includes console log errors.
The tests all pass correctly, console logs display after the test pass.
Node - v8.1.2
Yarn - 0.21.3
NPM - 5.0.3

[2017-06-26 20:54] rwieruch commented on #53
I see. Nothing to worry about @Fenwick17 You defined PropTypes for your components, such as:

[code]

 and don't pass these props in your tests to the component. For your tests you can make up props for your test cases, like you did for the Table component:

[code]

I should definitely update it since it shows up in the test log (which it didn't a few updates before). Sorry for this!

[2017-06-27 07:56] Fenwick17 commented on #53
@rwieruch All good, had a feeling it was nothing to worry about due to the tests themselves passing. Just a pit of terminal clutter.

[2017-07-11 13:42] vimalvnair opened #55 "Filtering list on onSearchChange behaves differently"
On Chapter "Basics in React" - "Interactions with Forms and Events"

I followed this chapter and created the search functionality, it works fine: When I type the search term, the list updates and when I hit backspace and remove the search terms,  also the list updates.

But when I made this modification: Instead of updating the `searchTerm` on `onSearchChange` and adding the filter for the list on

[2017-07-11 14:24] ajitgoel opened #56 "On page 79, Changing search criteria in search textbox should not refresh search results."
On page 79, when one changes the search criteria in the search textbox, the code does not make a API call to get the data based on the new search criteria. It should be explained that the code will be refactored later on to do a complete search server-side(which will fix the above mentioned issue).

[2017-07-11 14:26] vimalvnair commented on #55
I think I got the answer: `this.state.list` gets updated on the first search match. The unmatched item is removed from the list. This leaves only one item in the list. When we remove the search terms from the text box, it is searching on this new list with one item.

[2017-07-11 14:31] rwieruch commented on #56
Thanks @ajitgoel Will go into the next edition!

[2017-07-11 15:49] gsarpy opened #57 "function isSearched(searchTerm) should be removed during the refactoring"
The function `isSearched()` should be removed during the refactoring around page 90 since it is no longer used after that point.

[2017-07-12 14:26] fabriceci opened #58 "Page 87-89 - ES5 Object.assign()"
There seems to be a mistake, _Object.assign_ is a new ES6 method (not ES5).

[2017-07-12 14:45] rwieruch commented on #58
Oh damn, funny that it didn't caught any attention yet. Good find!

[2017-07-19 06:32] abuuzayr opened #59 "Unidirectional Data Flow chapter (pg 33) - explanation on wrapping onClick functions with a function"
Suggestion to expand the explanation of this paragraph:

To add the following:
------------------------

The handler needs to be a function. When passing `this.onDismss(item.object)`, it will execute on render and isn’t a function anymore but the return value of `onDismiss`. We have to wrap it in another function to be able to pass the `item.objectID`.

We could define the function somewhere outsi

[2017-07-26 17:53] rwieruch opened #60 "Missing Guide for development setup on Windows"
In the book there is only [one article linked](https://www.robinwieruch.de/developer-setup/) that gives instructions on how to setup everything on a Mac. Since the author of the book is no Windows user, it is hard to describe a guide on how to setup everything on Windows. Would someone want to write a guest blog post about it which can be referenced for the book?

[2017-07-31 14:08] rwieruch opened #61 "Improve the testing section with explanations"
See comment on release blog post: http://disq.us/p/1kts8j9

[2017-08-10 21:00] ghost commented on #59
I'm confused about the behavior of the handler when fired by the onClick event. In the official documentation in the 'Handling Event' part, we have
[code]

`<button onClick={this.handleClick}>` works perfectly here and is not wrapped into another function. Maybe the reason we have to do it in this particular case (Robin tutorial) could be  related with the fact that we are in a loop (map.(item =>

[2017-08-11 04:57] prashantkhurana commented on #59
this is because of the following :

[code]

Either you do explicit binding (because In JavaScript, class methods are not [bound](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_objects/Function/bind) by default.) or you use [property initializer syntax](https://babeljs.io/docs/plugins/transform-class-properties/) or [arrow function](https://developer.mozilla.org/en/docs/Web/J

[2017-08-11 09:09] ghost commented on #59
You're perfectly right. The point is since the binding is made in the constructor for the inDismiss method
[code]
 why do we have to bind it again inside the render ?
[code]
It's not necessary in the React example above. My hypothesis is that since we are iterating a list of objects (the news), each `<button/> `need to be bind with the context of his own item in order to access the properties (ite

[2017-08-11 18:39] ghost commented on #59
In the[ React's doc](https://facebook.github.io/react/docs/handling-events.html) (last paragraph) they encourage us avoiding the use of an arrow function as a callback for an event:

But here it is precisely the behavior we want for our list of news: create a different callback for each button associated with his own new thanks to the item.objectID parameter.

[2017-08-12 07:01] prashantkhurana commented on #59
ahh , my bad. I misunderstood what you were saying.

I don't think we need to bind in this particular case(code on page 33). We are already using an arrow function, so no need to bind.

From what I understand, arrow functions do have a performance overhead as you mentioned. One solution is to create a separate component which is what we do by the end of chapter 2.

[2017-08-13 17:54] Tamenze opened #63 "Define onSearchChange in Client- or Server-Side Search chapter"
In the chapter **Client- or Server-Side Search**, I realize that `onSearchChange` has not been defined in the API refactoring of the component, thus making it so that the input value for the Search component was not able to be changed through the browser. I had to Command-F through the ebook for the last time it was defined, and that was back in *Interactions with Forms and Events*. It should be i

[2017-08-13 23:01] brennenawana opened #65 "Explain JS filter function"
Pasted below is our Slack discussion on this matter:

## Question
On page 35, when we define the function `isNotId(item)`, how do we have access to `item`? Looks like we get access from our map loop. Also, it’s interesting that we don’t have to call `isNotId` with parenthesis inside of our `updatedList`, because it is a function. Please explain.

## Response
Thanks for coming up with this! Indeed,

[2017-08-14 08:14] rwieruch commented on #65
Thank you!

[2017-08-14 15:36] ghost commented on #59
As a beginner, trying to connect all elements together, I was obsessed with the 'binding' and 'context' things. And it confused me. But, unlike I thought, the purpose of the arrow function is not to do a binding there. Like @abuuzayr explained, it prevents  the event handler inside the curly braces `(onClick={<event handler>})` to get executed on the render() call.
What I missed is the difference

[2017-08-14 15:45] rwieruch commented on #59
Totally right! Sorry for stepping in too late here. But I guess after struggling with the problem on your own, you really have internalized how it works now 👍

That's right. It is not encouraged in the first place and there are ways around it. In the end, it is hard to keep the balance of keeping it simple for newcomers and teaching best practices from the beginning that would add complexity to th

[2017-08-14 18:11] ghost commented on #59
Thanks! And bravo for your book: it's a very pleasant and stimulating road to learn React! :clap:

[2017-09-15 09:01] hanchiang commented on #59
I also spent some time trying to understand different ways of passing arguments to an event handler. Using the ES6 arrow function makes it easy, but might have performance overheads.

One way is to use a sub component to achieve this. The main component will pass the argument and event handler to the child, and the child will simply call the handler with the argument, as seen here: https://stackov

[2017-09-15 09:20] rwieruch commented on #59
@hanchiang great additions, I will add these in the next edition.

Recently I heard more people arguing about the performance impacts of using inline arrow functions. But if you are not using these in dozens of components, the performance impact should be small. Nevertheless, it is great to teach people the best practices in the end. Thanks again everyone for your contribution.

[2017-09-15 13:28] hanchiang commented on #59
@rwieruch Yeah, I am not quite sure even after reading it.

From facebook:

What I understand from this is that creating a callback every time the component renders doesn't suffer from performance hit.

I understood why I needed to bind **this** - To make **this** work in the callback function, otherwise it will be undefined.

But the confusion for me was not knowing when I need to bind a method.

[2017-09-19 22:25] mikengu opened #69 "Clarification on isSearched() function on pg 41"
# Slack Discussion

## The Question
I was a bit confused on the significance of the bang operator on the `isSearched()` function, but someone on the slack channel (Han) quickly cleared that up for me.
The function in question:
`const isSearched = searchTerm => item =>
!searchTerm || item.title.toLowerCase().includes(searchTerm.toLowerCase());`

## Answer
The `!` is there to ensure that when the `s

[2017-10-05 10:37] rwieruch commented on #55
Yes. Your reasoning is right! 👍

[2017-10-05 10:37] #55 closed

[2017-10-05 10:41] rwieruch commented on #51
Fixed by new create-react-app version.

[2017-10-05 10:41] #51 closed

[2017-10-05 10:44] #41 closed

[2017-10-05 17:44] chri-roch12 opened #73 "enzyme adapter config needed"
I had to add additional configuration to the enzyme test unit. I was using React build 16, so had to use:
[code]
To enable enzyme unit tests.

[2017-10-06 01:42] rwieruch commented on #73
Oh thanks for this information! I will quickly try to add it to the book. Do you have any information if it is a temporary fix. Any links to issues are appreciated 👍

[2017-10-06 15:42] rwieruch commented on #14
Solved in https://github.com/rwieruch/the-road-to-learn-react/pull/72/commits/69b2a4696435d4114b80616ec17b9e8aa7cbc15b

[2017-10-06 15:42] #14 closed

[2017-10-06 15:42] rwieruch commented on #9
Solved in https://github.com/rwieruch/the-road-to-learn-react/pull/72/commits/69b2a4696435d4114b80616ec17b9e8aa7cbc15b

[2017-10-06 15:42] #9 closed

[2017-10-06 15:43] rwieruch commented on #65
Solved in https://github.com/rwieruch/the-road-to-learn-react/pull/72/commits/69b2a4696435d4114b80616ec17b9e8aa7cbc15b

[2017-10-06 15:43] #65 closed

[2017-10-06 15:43] rwieruch commented on #40
Solved in https://github.com/rwieruch/the-road-to-learn-react/pull/72/commits/3fd4b3ed6a7d6b6e1ea0fe00cc2d067dd8facda4

[2017-10-06 15:43] #40 closed

[2017-10-06 21:24] kriswep commented on #73
It's right in their upgrading [docs](http://airbnb.io/enzyme/#upgrading-from-enzyme-2x-or-react--16) at the very top, so its gonna stay i suppose.

[2017-10-07 04:51] rwieruch commented on #69
I wanted to add the explanation to the book, but it seems like `anyString.includes('')` evaluates always to true now. So there wouldn't be any need to add  `!searchTerm ||` for an empty `searchTerm`.

Did something change about that particular functionality recently? I recall that the  `!searchTerm ||` had to be there because otherwise the displayed list would be an empty list when the searchTerm

[2017-10-07 07:40] rwieruch commented on #58
Solved in https://github.com/rwieruch/the-road-to-learn-react/pull/72/commits/38f02bd45a8350edb355ec8e9a58962134d6218b

[2017-10-07 07:40] #58 closed

[2017-10-07 08:01] #63 closed

[2017-10-07 08:22] #24 closed

[2017-10-07 08:22] #42 closed

[2017-10-07 08:23] rwieruch commented on #52
Was already solved in a previous edition.

[2017-10-07 08:23] #52 closed

[2017-10-07 08:30] rwieruch commented on #56
Solved in https://github.com/rwieruch/the-road-to-learn-react/pull/72/commits/59c747fab471a33c0bce14757e2e48a05bf59102

[2017-10-07 08:30] #56 closed

[2017-10-07 23:04] artkhl opened #74 "“overwritten” methods"
There are several occurrences of the phrase “methods overwritten” in the book. Shoud it be “methods overridden” instead?

[2017-10-08 01:44] rwieruch commented on #74
Would it be more fitting compared to overwritten? I can change it, since I am writing on the 4th edition :)

[2017-10-08 03:53] ghost commented on #74
It is more common to use term “overriding” and it would be more consistent with react docs as well.

[2017-10-08 04:30] rwieruch commented on #74
Thank you! I will do it :)

[2017-10-08 04:34] rwieruch commented on #74
Goes into next edition: https://github.com/rwieruch/the-road-to-learn-react/pull/72/commits/053479c43be2730a1baa3bcc1f5d8d18a066aabe

[2017-10-08 04:34] #74 closed

[2017-10-09 22:20] chri-roch12 commented on #73
Yeah, this looks like an additional step to keep in mind when installing the Enzyme utility. If you leave it out, when you run tests you will get an error message informing you that Enzyme does not have a specified Adapter config.

[2017-10-15 05:21] rwieruch commented on #36
Solved in https://github.com/rwieruch/the-road-to-learn-react/pull/72/commits/44726df5c5434e330322dccc8e6de8951a908e2a

[2017-10-15 05:21] #36 closed

[2017-10-15 08:02] #33 closed

[2017-10-15 08:21] #61 closed

[2017-10-15 08:25] rwieruch commented on #53
Solved in https://github.com/rwieruch/the-road-to-learn-react/pull/72/commits/3e7ca04351e6cca47eebbbfa69d4f53cd0f0bc90

[2017-10-15 08:25] #53 closed

[2017-10-15 08:27] rwieruch commented on #69
I close this issue for now. Seems to work.

[2017-10-15 08:27] #69 closed

[2017-10-15 08:29] rwieruch commented on #57
Solved in https://github.com/rwieruch/the-road-to-learn-react/pull/72/commits/44726df5c5434e330322dccc8e6de8951a908e2a

[2017-10-15 08:29] #57 closed

[2017-10-15 15:40] rwieruch commented on #73
Solved in https://github.com/rwieruch/the-road-to-learn-react/pull/72/commits/cc378ed0dc457f339960e86736625975d55d7e74

[2017-10-15 15:40] #73 closed

[2017-10-16 03:46] rwieruch commented on #59
* Chapter about Bindings and Explanation about Arrow Function in Event Handler https://github.com/rwieruch/the-road-to-learn-react/pull/72/commits/69b2a4696435d4114b80616ec17b9e8aa7cbc15b
* added performance implications https://github.com/rwieruch/the-road-to-learn-react/pull/72/commits/b5bb07774fdb2dc7a27ea210978f509f17b3b059

[2017-10-16 03:46] #59 closed

[2017-10-24 02:43] rwieruch opened #81 "Introduction to asynchronous JS"
In chapter 3, add a small introduction to asynchronous JavaScript with Promises.

[2017-10-24 02:51] rwieruch opened #82 "JavaScript Truthfulness"
The book relies heavily on JavaScript's concepts of truthfulness. E.g. `if (!list.length)` is used in favor of `if (list.length === 0)` or `if(someString)` is used in favor of ``if(someString !== '')``. It should be explained briefly by using the more verbose version and refactor it to the shorthand version.

An ideal PR would find the chapter where such a condition is used the first split and spl

[2017-10-24 03:11] rwieruch opened #83 "Cannot read property 'ReactCurrentOwner' of undefined"
If you have started to read the ebook before the 4th edition was released, but grabbed the 4th edition recently (which uses React 16), you may see the following command line error message when executing your **Jest tests** for the first time:

[code]

You need to upgrade your project to React 16. Check your package.json if you run an old version of React. If you do so, type the following on the co

[2017-10-24 03:12] rwieruch commented on #83
Note: Add in Change Log when node packages are upgraded when a new edition gets released.

[2017-10-24 03:13] rwieruch opened #84 "Upgrade React 16"
The 4th edition of the book uses React 16. If you started to read the book in a previous edition, but grabbed the recent 4th edition, you need to upgrade your dependencies in your package.json file. The easiest way to do so is executing the following commands on the command line in your project:

[code]

It is a global npm module that can be used to update your dependencies, such as react or react

[2017-10-27 14:47] b3vegan opened #85 "How to set PropTypes for the props in the HOC?"
eslint is giving me this warning:

`[eslint] 'isLoading' is missing in props validation (react/prop-types)`

I've posted the question in full on SO:

https://stackoverflow.com/questions/46970806/how-do-i-set-proptypes-for-higher-order-functional-component

[2017-11-06 12:34] amanolar94 opened #86 "Failed prop type in jest testing"
While running the snapshot tests I get the  following warning: The prop 'onClick' is marked as required in Button but its value is undefined.

[2017-11-06 13:24] rwieruch commented on #86
Thanks for reporting @amanolar94 I or maybe someone else will check it! :)

[2017-11-07 18:14] kafisher commented on #83
After upgrading to React 16 I get the following error after running npm test:

`TypeError: Cannot read property 'createEvent' of undefined`

I was able to fix it by reverting to the old version and explicitly setting

`"devDependencies": { ... "react-test-renderer": "^15.5.4"}`

in my package.json and running npm install again.

[2017-11-07 19:39] amanolar94 commented on #86
@rwieruch Could it be that this happens because in the tests that we write we don't put an onClick function in the test components? In Table test for example we have some props defined but in Button test not.

EDIT:
I ultimately created a test function and used afterwards and it throws no warnings. What do you think?

[code]

[2017-11-14 09:50] shearichard opened #88 ""react-scripts: not found" after install of "isomorphic-fetch""
I'm logging this is an issue in case it's of some use of to others who encounter the same situation. Unfortunately I didn't make comprehensive notes of all that happened and so it's won't really be a first class issue.

## Situation
I was working through "**Snapshot Tests with Jest**"

As described in the book I ran `npm test` and I got an error which, it seemed to me, was related to the unsupport

[2017-11-14 09:56] shearichard commented on #88
## Package.json

I realised it might be useful to include the following :

    foobar@polo /media/poloextra/dev/r2lr/hackernews $ cat package.json
    {
      "name": "hackernews",
      "version": "0.1.0",
      "private": true,
      "dependencies": {
        "react": "^16.0.0",
        "react-dom": "^16.0.0",
        "react-scripts": "1.0.14"
      },
      "scripts": {
        "start": "react-

[2017-11-14 21:07] shearichard opened #89 "Refer to "test" rather than "it" in Jest example code ?"
## Overview
In the "**Snapshot Tests with Jest**" section use is made of the Jest function `it`.

## Background
I wanted to know a bit more about that function and so I went to read the Jest doco.

It seems that the primary naming of that function is now `test` and so searching / browsing for `it` in the doco isn't productive (http://facebook.github.io/jest/docs/en/api.html#testname-fn)
.
## Sugge

[2017-11-14 23:24] rwieruch commented on #89
Hello @shearichard Thanks for coming up with this issue! As long as **it** is supported as well, personally I would opt-in to option 2 to give a brief hint (1 - 2 sentences) to the **test** naming. What do you think? Most test's are using describe and it blocks, that's why I wouldn't want to go away from them for now. Did the documentation say something about the reason behind the name **test**? I

[2017-11-14 23:51] rwieruch commented on #86
Afterward it worked, right?

I think when using and **keeping** prop-types throughout the remaining chapters, there will be a couple of these warnings along the way of forgetting to define a prop. That's why the book mentions in the beginning of the prop-types chapter that all the changes are omitted for the remaining chapters. See https://github.com/the-road-to-learn-react/the-road-to-learn-react

[2017-11-15 14:33] MaelFr commented on #85
Could this be your solution?

[code]

[2017-11-16 00:12] rwieruch commented on #85
LGTM @b3vegan would you want to give it a shot? If it works, it could be a great addition to the book :) Thank you @MaelFr for taking the time!

[2017-11-16 01:09] amanolar94 commented on #86
Yes afterwards it worked fine, no warnings. Do you think this solution above is proper?

You are right #53 pretty muchs covers it :P .
 I wouldn't say there is a problem. It's just that I've been struggling with this for some time and after I saw the fake props in the test code for Table component bellow  I realised that I had to do something similar with the functions also.
I believe most people

[2017-11-16 01:57] rwieruch commented on #86
Yes, I think it would be a good step to add the code to fix the first warning coming up after the PropTypes chapter. In your case, was it the first occasion that the warning happened? Then I would add it at this place.

[2017-11-16 10:31] amanolar94 commented on #86
Well actually I created the PropTypes for Search component also as you suggested so this was the first occasion and the <button> afterwards.

[2017-11-16 12:29] bernard-leech commented on #85
Awesome! Thanks, @MaelFr

The only change is the wrapper needs to return the wrapped component after it has created it:

`return wrapped;`

I use `eslint-config-airbnb` in vscode and it didn't complain when I didn't give proptypes for `rest` so I just left it out. The relevant eslint config rule is as follows and I guess should give an error for missing prop types. Not sure why it didn't:

[code]

[2017-11-17 09:06] shearichard commented on #89
Hi @rwieruch

Yes, I think that approach is fine.

Not where I was looking. I guess it's possible that when the change was made it would have been mentioned in the release notes but I didn't read those. I only found out myself because someone I asked happened to know . Neither name is very search friendly which is a shame.

Yes I would be happy to. I will do it sometime over the weekend.

thanks f

[2017-11-17 09:27] shearichard opened #90 "Problem with 'ref a dom element' example when testing ?"
## Summary
When following the "Ref a DOM Element" section I found that my code would run perfectly well (and move the focus to the search box as intended) when running the server but would crash and burn when attempting to run tests.

## Nature of fault

When running the tests I got this stack trace

[code]

The code being referenced at the top of the stack (src/App.js:54:8) looks like this

[code

[2017-11-18 14:26] rwieruch commented on #90
Thanks for reporting this issue! If the condition would already solve it, it would be great to see a small PR for it. Would you mind creating one for the issue :)

[2017-11-18 14:28] rwieruch commented on #89
Thanks for your contribution! Looking forward to the PR 👍

[2017-12-12 02:03] rwieruch opened #95 "Add translated versions of book to README.md"
At this point in time, there are various translated versions coming up for the book. Maybe it would be great for all readers from different countries to see all the options in the README.md of the book and the status of each book (e.g. work in progress, done). Anyone wants to help out here? :)

You can find all the translations and their repositories in the organization: https://github.com/the-roa

[2017-12-16 08:37] rwieruch opened #96 "No 'Access-Control-Allow-Origin' header is present on the requested resource."
At the moment, there is a high likelihood that you run into the following error when building your Hacker News application.

`Failed to load https://hn.algolia.com/api/v1/search?query=foo&page=0&hitsPerPage=100: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:3000' is therefore not allowed access. If an opaque response serves your needs, set t

[2017-12-16 13:35] rwieruch commented on #96
Fixed: https://github.com/algolia/hn-search/issues/106#issuecomment-352182060

[2017-12-16 13:35] #96 closed

[2017-12-23 08:34] #90 closed

[2017-12-23 08:41] #89 closed

[2017-12-23 08:42] #88 closed

[2017-12-23 08:58] #82 closed

[2017-12-28 13:59] CodeKommissar opened #97 "Spanish Translation"
Hi! I finished the book a couple of days ago and I really liked it. I just saw that there are some translations of the book (Chinese, Portuguese, etc) and I was wondering if I could do the same, but for a Spanish translation. How I would go about it?

[2017-12-28 14:53] rwieruch commented on #97
Hey @CodeKommissar Thank you for your interest. A Spanish version is work in progress too. It's the only version which hasn't a GitHub repository yet :) Thank you again for your interest!

[2017-12-28 14:53] #97 closed

[2018-01-07 12:04] rwieruch opened #98 "Review the book on Amazon or Goodreads"
It would mean so much to me and the community if you would help to spread the word about the book. If you have read it and enjoyed reading it, please leave a review on Amazon [0] or Goodreads [1]. Thank you so much <3

* [0] https://www.amazon.com/dp/B077HJFCQX
* [1] https://www.goodreads.com/book/show/33541539-the-road-to-learn-react

[2018-01-17 18:51] Kovner commented on #96
Are you sure this is fixed? I am getting the same error:

Failed to load https://hn.algolia.com/api/v1/searchquery=redux: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:3000' is therefore not allowed access. The response had HTTP status code 404. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the resourc

[2018-01-17 21:24] rwieruch commented on #96
@Kovner I think your request misses a `?`. Can you try again `https://hn.algolia.com/api/v1/search?query=redux` ?

[2018-01-17 22:15] Kovner commented on #96
Yep that was it sorry! That question got hidden in the template string variables!

[2018-01-18 18:36] konaraddi opened #100 "Clarify JSX when using list.map"
Regarding this section: https://github.com/the-road-to-learn-react/the-road-to-learn-react/blob/master/manuscript/chapter1.md#complex-javascript-in-jsx

The following returns an Array of HTML elements in JSX.
[code]
I think it should be clarified/mentioned that this returns an Array of HTML elements which React automatically loops through and renders each element in the array.

In other words, the

[2018-01-24 17:15] HansWurst90 opened #101 "Warning in Test in Chapter 4"
[Here](https://gist.github.com/HansWurst90/fe62ba49186deb77ada7ee84865a762a) is my code.

I am getting a warning when testing my App at the beginning of the Testing chapter:
[code]
For some reason is says I am setting the state before the component is mounted. I found the ```setState()``` that triggered is the warning is the one from ```fetchSearchTopStories()```
[code]
although it is specifically

[2018-01-31 17:08] scotteza commented on #101
I figured out where this one comes from. Not sure **why** it is happening, but I can see the source.

When you use create-react-app to initialize the first version of the application, App.test.js looks like this:

[code]

If you download the source code for chapter four, you will notice that App.test.js doesn't contain this line:
`ReactDOM.unmountComponentAtNode(div);`

If you remove this line, th

[2018-01-31 17:51] rwieruch commented on #101
Oh that's new! I will check this when I come to the next edition of the book. Thanks for finding out about it. I have to checkout ReactDOM.unmountComponentAtNode(div); and why it's there :)

[2018-02-03 08:13] bpod commented on #101
@rwieruch @scotteza This is most likely due to the async nature of `fetch`. Seems like the test is trying to unmount the app when the lifecycle has not completed yet.

Since `unmountComponentAtNode()` returns a `bool`, declaring a flag to check if the fetch has completed yet (before un-mounting), fixes this locally for me. This could probably be done cleaner (maybe async/await in Jest?? https://fa

[2018-02-05 10:01] rwieruch commented on #101
The native fetch request is not abortable, but it's in discussion for an official implementation.

See how you can use axios instead of fetch to cancel the request on componentWillUnmount:
* version 1: https://github.com/the-road-to-learn-react/hackernews-client/pull/5
* version 2: https://github.com/the-road-to-learn-react/hackernews-client/pull/6

[2018-02-08 16:09] sanspace opened #103 "npm install vs npm install --save"
In Chapter 1, Under Node and NPM Intro:

https://github.com/the-road-to-learn-react/the-road-to-learn-react/blob/master/manuscript/chapter1.md#node-and-npm-1

As per npm docs:

I think the explanation `will be listed in the package.json file next to your other dependencies` is misleading as one will have to use `--save` option to do that.

[2018-02-08 18:55] rwieruch commented on #103
Hey @sanspace thank you for pointing this out. Since npm 5.0 you don't need to use the --save flag anymore. It's the default.

[2018-02-08 21:35] sanspace commented on #103
Good to know! I was sure I'll get to learn something out of it. :smile:

[2018-02-08 21:35] #103 closed

[2018-02-12 17:27] JaosnHsieh opened #104 "Advanced Sorting bug"
In the page 154,
[code]
and in the page 161
[code]

Above two snippets would cause different list order when typing words on search input element to trigger onSearchChange function on App.js.

I tried and found out destructuring assignment can fix the bug.
In the page 154,
[code]

[2018-02-17 15:01] rwieruch commented on #101
Should be fixed in Edition 5 (https://github.com/the-road-to-learn-react/the-road-to-learn-react/pull/105), but I keep this issue open for now for people running into it with an old edition.

[2018-02-17 15:03] rwieruch commented on #100
Hey @konaraddio Thanks for mentioning it! I had this Aha-moment in the early stages of learning React as well. It might be good to leave it out the book to let people come across this at some point too. I remember that it was a great learning for myself :) Do you think that's a valid thought?

[2018-02-17 15:07] rwieruch commented on #104
Thanks for reporting this and providing a solution! Not sure if I can follow you on this one. Did it cause a buggy behaviour for you in the application?

[2018-02-24 01:33] sujinleeme opened #106 "Introduce Yarn"
As you know, Create-React-Native-App does not currently work well with NPM v5, due to bugs in NPM. While there should be no issues with NPM v3 or v4, why don't you suggest using `yarn` alternatively to be safe?

Related Chapter : https://github.com/the-road-to-learn-react/the-road-to-learn-react/blob/master/manuscript/chapter1.md#node-and-npm

[2018-02-24 02:03] sujinleeme opened #107 "How to Debug"
I hope this book handles not only `console.log()` but also useful and important parts of the Devtools more.

* Debugging React with Chrome
* [React Developer Tools](https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi?hl=en)
* Break Point
* redux-logger (maybe later?)

[2018-02-24 12:50] rwieruch commented on #107
Hey @sujinleeme Thank you for your recommendations 👍  Maybe we can discuss them here and see how we can synchronize them in all (translated) books :)

**Debugging React with Chrome** and **React Developer Tools** would be a great additional chapter. Maybe in the end of the book? Maybe it can touch Break Points too even though I think it's not necessarily related to React. What do you think?

The r

[2018-02-24 13:43] rwieruch commented on #106
Good Point. Maybe only mentioning it in one paragraph at the end of the **npm & node** chapter? I wouldn't want to introduce too much tooling in the beginning of the book. It should give you all the essentials for React, but not too much more of it.

[2018-03-12 01:26] simon-shuffle commented on #43
glsdjfgl;kjd

[2018-03-12 01:26] simon-shuffle commented on #43
excellent

[2018-03-15 16:49] PierreTurnbull opened #110 "Explanations about public and build directories"
Hello!

I am reading your book in order to learn React. For now, I am trying to understand how my create-react-app folder works.
After doing some researches and testing, there is something that seems misleading to me. On page 10 you write:

[code]
and also, in the exercises part:

```run the npm run build script and verify that a build/ folder was added to your project```

When buildind my project

[2018-03-16 04:07] rwieruch commented on #110
Hey @PierreTurnbull Thanks for mentioning it 👍  I think it was different in the past, but you are right now! There is nothing new added to the public/ folder. But there should be a build folder with the bundled JavaScript files once you have built your project. Am I right? Would you want to open a Pull Request to fix this issue or should I do it? :) Thanks again!

You can find the scripts in the p

[2018-03-16 10:07] PierreTurnbull commented on #110
I will make a pull request in the afternoon. Ty!

[2018-03-17 08:01] doradora-by-doris opened #112 "Splitting src/App.js"
I just finished chapter 6 and as you recommended in chapter 4, I'm going to split up the components into multiple modules. Following one of the possible module structures you proposed in chapter 4, I split `src/App.js` and extract constants from App component to `src/constants/index.js` as below:

[code]

and import the constants into `src/components/App/index.js`:

[code]

but the relative path o

[2018-03-17 09:04] rwieruch commented on #112
Yes you are right! 💯Is it different in the book? If it is, would you want to open a Pull Request for it? :) Thanks for noticing this mistake and opening up this issue 👍

[2018-03-17 13:34] #112 closed

[2018-03-17 13:36] #110 closed

[2018-03-26 05:06] rwieruch commented on #60
Added in the recent 5th edition of the book: https://www.robinwieruch.de/react-js-windows-setup/

[2018-03-26 05:06] #60 closed

[2018-04-01 02:33] #104 closed

[2018-04-01 02:38] rwieruch opened #115 "React 16.3: Add/Remove Lifecycle Methods to "Lifecycle Methods Chapter""
The book has a lifecycle methods chapter which explains in a short paragraph each lifecycle method. Since [React 16.3 got released](https://reactjs.org/blog/2018/03/29/react-v-16-3.html), there are 2 new lifecycle methods:

* [getDerivedStateFromProps(nextProps, prevState)](https://reactjs.org/docs/react-component.html#static-getderivedstatefromprops)
* [getSnapshotBeforeUpdate(prevProps, prevStat

[2018-04-06 04:03] yxchng opened #117 "Why the recommendation "UI Components: You shouldn't make the mistake to introduce too early a UI component library in your project."?"
Can I know what is the rationale for this recommendation? In my opinion, a UI library will make prototyping much faster.

[2018-04-07 02:06] rwieruch commented on #117
You are right. But this recommendation stays in the context of learning React. So I believe it's good in the beginning, when learning about React, to implement Dialogs, Dropdowns or Tables on your own for the sake of learning about React. Once you got these things up and running, you can start to introduce a library such as Semantic UI for it. Does it make sense for you?

However, you are right, i

[2018-04-07 02:06] #117 closed

[2018-04-12 07:32] matchatype opened #122 "Changes in ref API"
As of React 16.3, there have been changes in the [createref-api](https://reactjs.org/blog/2018/03/29/react-v-16-3.html#createref-api). You can set your refs in the subclass constructor function, however, since _create-react-app_ supports class fields you can also simply take advantage of that:
[code]
If you run your tests now, those related to the `<Search />` component should fail, and the reason

[2018-04-12 08:11] ihackalot opened #123 "Should set state by passing a callback"
The recommended way to update state is by passing a callback instead of an updater object directly because `setState` is actually asynchronous, for example:

[code]
However, in this specific case, you have to pay attention to persist the synthetic event, since the object is being reused and [you cannot access the event asynchronously](https://reactjs.org/docs/events.html#event-pooling). You can pe

[2018-04-28 02:05] hieutran106 opened #126 "typos error"
file name "index..css" on src/components/App on page 128 should be "index.css"

[2018-04-28 04:42] rwieruch commented on #126
Hello @hieutran106 Thanks for spotting this! Can you open a Pull Request for it? :)

[2018-04-28 19:16] 76784 opened #129 "Filter functionality, p. 57 hard copy"
Enjoying your fine book (I purchased the hard copy, but I see you have the material here as well). I have a question. In the chapter "Basics in React", when you discuss filtering, there is some code that is abbreviated using "...":

[Basics in React](https://github.com/the-road-to-learn-react/the-road-to-learn-react/blob/master/manuscript/chapter2.md)

[code]

I have gone over the material several

[2018-04-29 04:17] rwieruch commented on #129
Hello @76784

In this GitHub repository you find only the raw manuscript which is used to generate all different formats (e.g. PDF, EPUB, MOBI). The leanpub-start-insert are only used to generate those formats and to highlight the lines. In the book/ebook, this line should be highlighted then.

For the ... content you can go back to the "Internal Component State" chapter. There this content was sh

[2018-05-18 17:07] 76784 commented on #129
Got it - thanks for the reply. (And sorry for my slow response.)

[2018-05-19 06:31] rwieruch commented on #129
No worries :) Glad that it worked!

[2018-05-19 06:31] #129 closed

[2018-05-21 13:41] AdamMarczyk commented on #43
test comment

[2018-05-21 13:49] AdamMarczyk commented on #43
test comment

[2018-05-21 14:00] AdamMarczyk commented on #43
dddddd

[2018-06-11 00:08] 76784 opened #140 "url parameter p101 hard copy"
I'm not sure which edition of the hard copy of the book I have, but it does have, in the change log, "17.February 2018", so I think it might be the latest.

On page 101 of this hard copy, there is the following under Code Playground:

const url = `${PATH_BASE}${PATH_SEARCH}?${PARAM_SEARCH}${searchTerm}&${PARAM_PAGE}`;

I gather that because this is listed under Code Playground, it is not meant to

[2018-06-11 08:19] rwieruch commented on #140
You are totally right. It should say `${PATH_BASE}${PATH_SEARCH}?${PARAM_SEARCH}${DEFAULT_QUERY}&${PARAM_PAGE}` in the Code Playground example, shouldn't it?

https://github.com/the-road-to-learn-react/the-road-to-learn-react/commit/91664bc1fbc4d82376ec5470c03bc073e95d3b62

Good find! 👍

[2018-06-13 01:40] #140 closed

[2018-06-13 01:41] rwieruch commented on #126
Cannot find the typ anymore. Maybe it got fixed somewhen. Thank you again!

[2018-06-13 01:41] #126 closed

[2018-06-19 16:58] dbeckwith01 opened #141 "Client Cache Adding Unnecessary Call to Render"
In the _Client Cache_ section `this.setState` is called to set the `searchTerm`.  Doesn't this make an unnecessary call to render?  Wouldn't it have been best practice to set the `searchKey` in the constructor to the default value?

[code]

According to our Slack conversation the best practice would be.
[code]

[2018-06-20 00:55] rwieruch commented on #141
Totally right. Did you use your version of the code throughout the book and it worked for you? Thanks for putting up the issue!

[2018-06-27 10:33] rwieruch commented on #115
Someone able to help out with this issue? Maybe it's a good topic for learning about the new lifecycle methods :)

[2018-06-27 12:46] romerorocha commented on #115
Sure, I'm on it! :)

[2018-06-27 15:33] rwieruch commented on #115
Fixed by @romerorocha in https://github.com/the-road-to-learn-react/the-road-to-learn-react/pull/143

[2018-06-27 15:33] #115 closed

[2018-07-06 00:19] romerorocha commented on #106
I'm on it, if it is ok.

Should I talk about React Native (Expo/CRNA) issues with npm itself (and suggest yarn), or just give a small description of Yarn and mention it as a well adopted alternative to npm?

Asking it because React Native is not the main subject in the book. Still a good point to mention and a relevant issue.

[2018-07-06 00:19] romerorocha commented on #106
Asking it because React Native is not the main subject in the book. Still a good point to mention and a relevant issue.

[2018-07-06 06:55] rwieruch commented on #106
I think the latter is best, because the problems with npm and React Native may go away in the future. We shouldn't confuse readers too much with those details. I think mentioning yarn as alternative is okay here :)

[2018-07-06 13:02] rwieruch commented on #106
Introduced in https://github.com/the-road-to-learn-react/the-road-to-learn-react/pull/146

[2018-07-06 13:02] #106 closed

[2018-07-07 11:50] romerorocha commented on #107
Should it be a dedicated chapter7.md file, about the "Debugging" subject, containing chapters like:
## Debugging React with Chrome
## React Developer Tools

Or, just a chapter in the end of chapter6.md?

I think that debugging is important enough to have it's dedicated section, but I'd be happy to write any of these options.

[2018-07-07 14:41] rwieruch commented on #107
I would maybe see it as another section in chapter 4, because that's the chapter where testing and folder structures are explained. What do you think?

[2018-07-07 14:45] romerorocha commented on #107
Sounds good! I'll try to get it done and send it to evaluation soon.

[2018-07-07 14:56] rwieruch commented on #107
Great 💯

[2018-07-07 17:55] lex111 commented on #43
It seems to me that this can not be fixed without forcing limit of lines to break (for example, the line of code should not exceed 50-60 characters)

[2018-07-07 17:56] lex111 commented on #86
@rwieruch can it be closed?

[2018-07-07 18:01] romerorocha commented on #107
So, my idea here is to explain the main purpose of React Developer Tools and how it works. Inspecting your true components (instead of raw HTML DOM nodes), props, changing state to see what happens, jumping to related source code and so on.

I agree that using Chrome Dev Tools for debugging the source code, inserting breakpoints and stepping in/over them are not necessarily React related knowledge

[2018-07-07 18:31] rwieruch commented on #107
I agree with both things. React Developer Tools should be the main topic here. Maybe it is possible to relate a bit to the application which is built up until then in chapter 4. Mentioning Chrome Dev Tools in the exercises makes sense as well.

[2018-07-07 18:38] rwieruch commented on #86
@lex111 I would want to keep it open as "won't fix", because many people stumble upon this issue while reading the book and they wouldn't necessarily look into the closed issues.

[2018-07-10 06:56] rwieruch commented on #107
Done by @romerorocha in https://github.com/the-road-to-learn-react/the-road-to-learn-react/pull/151 🎉

[2018-07-10 06:56] #107 closed

[2018-07-13 21:08] lex111 opened #156 "Update "Ref a DOM Element" section"
From https://reactjs.org/docs/refs-and-the-dom.html

It seems to me it is necessary to mention at least simply about a method with `React.createRef()`?

[2018-07-13 21:10] lex111 commented on #156
Duplicate of #122?

сс @rwieruch

[2018-07-14 05:08] lex111 commented on #101
@rwieruch why open again?

[2018-07-14 05:12] lex111 opened #158 "Add link to leanpub in readme"
Also, put the `leanpub` label on the repository

[2018-07-14 15:32] #101 closed

[2018-07-14 15:41] rwieruch commented on #156
Yep. Duplicate. I hadn't the chance to take care of it, because I wasn't able to dive into the new ref API myself :) But it would be a great addition to mention the different variations at least or reference to them more explicit in the exercises. I wouldn't want to bloat the chapter with all different implementations, but it should be clear for the read that there are other possibilities.

[2018-07-14 15:54] lex111 commented on #156
It would be nice to add this as soon as possible. Just a mention at least.

[2018-07-15 20:23] #158 closed

[2018-07-25 06:59] #95 closed

[2018-08-15 07:46] vfa-giangnt commented on #81
comment

[2018-08-15 11:08] rwieruch commented on #81
@giangnt-vfa Congrats! I guess you used the GraphQL  GitHub API from https://www.robinwieruch.de/react-with-graphql-tutorial/ :)

[2018-08-28 11:29] rwieruch commented on #84
Closing this because React 16 was a long time ago and I don't expect people to run into this anymore.

[2018-08-28 11:29] #84 closed

[2018-08-28 11:29] rwieruch commented on #83
Closing this because React 16 was a long time ago and I don't expect people to run into this anymore.

[2018-08-28 11:29] #83 closed

[2018-08-28 11:29] #100 closed

[2018-09-01 20:05] oscaralanpierce commented on #96
I am still getting this issue:
[code]
This is a screen cap of the Network tab in my browser (which is Chrome, if it matters):
![screen shot 2018-09-01 at 1 06 40 pm](https://user-images.githubusercontent.com/5115928/44949512-161fc980-ade8-11e8-9371-ed110e47d134.png)

This happened after I implemented the client cache, although I had taken a break for a week or two so maybe something changed in the

[2018-09-01 20:09] oscaralanpierce commented on #96
Oh and also! Changing to the GitHub API did not help.

[2018-09-01 20:20] rwieruch commented on #96
@danascheider can you share your project on GitHub?

[2018-09-01 20:31] oscaralanpierce commented on #96
@rwieruch You bet! [Here it is!](https://github.com/danascheider/road-to-learn-react)

[2018-09-02 14:30] rwieruch commented on #96
@danascheider see https://github.com/danascheider/road-to-learn-react/pull/1 You can simply merge the PR and everything should be fixed. Check the commits again to understand what has been wrong.

[2018-09-14 23:37] mastas3 commented on #43
Thanks

[2018-10-01 12:59] enBonnet opened #173 "Translate to Spanish"
Hey!

What can I do to help translate this resource into Spanish?

[2018-10-25 16:49] angeldelacruzdev commented on #96
### My problem.

`Failed to load http://127.0.0.1:8000/api/fileupload: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:3000' is therefore not allowed access.
createError.js:17 Uncaught (in promise) Error: Network Error
    at createError (createError.js:17)
    at XMLHttpRequest.handleError (xhr.js:87)`

[2019-01-08 16:18] tsvecak opened #180 "Typos"
Opening this so that people can help you out with typos :)

I have just recently started reading your book and found a typo on the FAQ pages under What's your motivation behind the book? "Recently I'v found myself" should be "I've"

Cheers!

[2019-01-17 09:10] rwieruch commented on #180
You can open a Pull Request instead :) Then you can actively contribute to the book! When I merge the Pull Request then, we can close this issue.

Thanks for noticing this 👍 💯 Hope you enjoy the book :)

[2019-01-17 11:21] rwieruch opened #181 "Verify and Fix: Functioning Binding Example"
Quote:

_"I may be incorrect but I believe there is an error on page 39 of your Road to React book. You state that this is not automatically bound to the class instance and I believe that is not correct.  Please see my comments in the code below."_

[code]

[2019-01-17 14:28] tsvecak commented on #180
Just added pull request there.

Cool way to get people involved- seriously good work!

Book is amazing - great for beginners but also great for the more advanced developers!

[2019-01-18 00:45] rwieruch commented on #180
Thank you @tsvecak Hope you enjoy the rest of the book :)

Ref.: https://github.com/the-road-to-learn-react/the-road-to-learn-react/pull/182

[2019-01-18 00:45] #180 closed

[2019-01-25 03:35] lcnogueira commented on #123
Actually, it's not necessary to use a callback function in this case. You should use a callback function when the **new state depends on the previous one**. For example, if the state were a counter, so you'd better use a callback function to update the state instead of an object :bulb:.

If you want to know more about it, take a look at this documentation section: https://reactjs.org/docs/faq-stat

[2019-01-26 14:31] matchatype commented on #123
I read...

...and...

[code]

[2019-01-26 16:49] lcnogueira commented on #123
Exactly. You need to use a callback function if the new state depends on the most updated version of state. However, in this case, your new state doesn't depend on the most updated version of state. It only depends on what the user types in, because it always uses `e.target.value` to set the new state.

In fact, `setState` is asynchronous inside event handlers. But there is no problem, because you

[2019-01-27 11:12] matchatype commented on #123
I'm sorry, I rushed at your comment previously. It's correct, in this simple example, we probably would not run into any issues by passing an object.

[2019-02-10 07:27] petixiuxx opened #185 "Translate to Vietnamese"
Hi Robin, I'm glad to help you translate the book to Vietnamese.
However, I'm confused about how to do it. Can you give me a hint ? ^^

[2019-02-11 01:55] rwieruch commented on #185
Hey @petixiuxx Happy to have you on board. You have access to https://github.com/the-road-to-learn-react/the-road-to-learn-react-vietnamese From there you can start to translate the manuscript and README.md :) Once you finished, I will connect it to Leanpub to generate the ebook from it. Let's continue this chat via E-Mail: hello@rwieruch.com :)

[2019-02-11 01:55] #185 closed

[2019-02-15 13:40] sb-bilal-dev commented on #81
fdasfad

[2019-02-15 13:40] sb-bilal-dev commented on #81
my comment

[2019-02-15 14:38] sb-bilal-dev commented on #81
gh

[2019-02-15 14:43] sb-bilal-dev commented on #81
my comment

[2019-02-16 02:54] rwieruch commented on #81
Congrats for making the Commenting API work @sb-bilal-dev 🎉

[2019-02-16 06:06] sb-bilal-dev commented on #85
How could we solve this issue? (just testing commenting)

[2019-03-03 05:13] rwieruch opened #187 "Link Shortener"
Add a link shortener for the links used in the book (see http://disq.us/p/204subu).

[2019-03-03 05:14] rwieruch opened #188 "Index Page"
Add an index page at the end of the book (see https://www.amazon.com/review/R1GNWFSD210E7G).

[2019-03-05 05:13] rwieruch opened #189 "UX/A11Y: Improve Label"
See https://github.com/the-road-to-learn-react/hackernews-client/issues/11

[2019-03-05 05:14] rwieruch opened #190 "A11Y: use button outline"
See https://github.com/the-road-to-learn-react/hackernews-client/issues/10

[2019-03-09 05:39] rwieruch opened #191 "Source Code: Show after every Section rather than only every Chapter"
- [x] show current source code of the project for every exercise
- [x] do not show only the current source code, but also the commit which changed it from the previous section

[2019-03-09 10:00] #190 closed

[2019-03-09 10:45] rwieruch opened #192 "Source Code Project: Folder/Folder Refactoring"
Show am example project for the folder/file refactoring chapter which can be included in the source code package as well/

[2019-03-09 10:46] rwieruch opened #193 "Source Code Project: Import/Export Statement"
Show how to extract a component from a file to another file and how to use the statements for the import/export statement chapter.

[2019-03-09 11:04] rwieruch commented on #191
Done https://github.com/the-road-to-learn-react/the-road-to-learn-react/commit/b18aca2a69fbbbdaa746426b4631b353b1aced07

[2019-03-09 11:04] #191 closed

[2019-03-09 11:05] rwieruch commented on #187
Done https://github.com/the-road-to-learn-react/the-road-to-learn-react/commit/b18aca2a69fbbbdaa746426b4631b353b1aced07

[2019-03-09 11:05] #187 closed

[2019-03-09 11:06] #173 closed

[2019-03-09 11:06] rwieruch commented on #122
Duplicate

[2019-03-09 11:06] #122 closed

[2019-03-12 03:32] zolbayars opened #195 "Table component test failing in "Snapshot Tests with Jest" section"
Hi,
On page 131 of the pdf book (Chapter 4, "Snapshot Tests with Jest" section). There's a following test case:
[code]
It's failing the test with following error:
![image](https://user-images.githubusercontent.com/3589907/54172690-e437a000-44b9-11e9-92b8-f2ebd47b520b.png)

I think the line `<Table { ...props } />` should be `<Table result={ props.list } />`. When I [change it like that](https://gi

[2019-03-12 17:33] rwieruch commented on #195
I think it's because your Table component expects a result object whereas the Table from the book expects a list array.

[2019-03-13 12:19] c-ancia commented on #43
test exercise comment from this link:
https://www.robinwieruch.de/react-graphql-apollo-tutorial/

[2019-03-13 12:23] c-ancia commented on #43
test exercise comment from this link :
https://www.robinwieruch.de/react-graphql-apollo-tutorial/

[2019-03-13 12:23] c-ancia commented on #43
test exercise comment from this link :
https://www.robinwieruch.de/react-graphql-apollo-tutorial/

[2019-03-13 12:23] c-ancia commented on #43
test exercise comment from this link :
https://www.robinwieruch.de/react-graphql-apollo-tutorial/

[2019-03-29 16:09] RocktimSaikia opened #197 "Hot Module replacement is not working ! Chapter 1"
I'm currently in chapter 1(page 17) of the book where i got introduced to Hot Module Replacement which seems like a very useful tool in development stage but when i tried to apply it in my hackernews app it  it does not refresh the page automatically.What could be the problem here ?

`import React from 'react';
import ReactDOM from 'react-dom';
import './index.css';
import App from './App';

React

[2019-03-31 12:57] #195 closed

[2019-04-05 19:10] groninge01 commented on #197
You aren't rendering your 'App'.

`ReactDOM.render(<App />, document.getElementById('root'));`

[2019-04-16 15:10] cwoz117 commented on #181
I also get no error when running the code in the textbook without method binding, but am more comfortable with the auto-bound feature of anonymous functions, so it didn't affect me until now

[2019-04-17 16:09] miloszpanas commented on #96
I'm having the very same issue when trying to fetch data from API

`Access to fetch at 'https://hn.algolia.com/api/v1/search?query=react' from origin 'http://localhost:3000' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the resource with CORS disabl

[2019-04-17 18:01] rwieruch commented on #96
That's odd @miloszpanas I cloned https://github.com/the-road-to-learn-react/hackernews-client and it worked for me.

[2019-04-18 06:17] miloszpanas commented on #96
It's really weird, I couldn't get it to work yesterday, today it works just fine with no modifications on my part. No idea what was causing it. Sorry for bothering

[2019-04-25 07:53] Hack-Jay commented on #81
nice!

[2019-04-27 06:22] Hellano opened #198 "Link redirection is no longer correct."
The content of the link https://github.com/facebook/react/wiki/Sites-Using-React has been moved to ReactJS.org website.

[2019-04-27 16:13] rwieruch commented on #198
Can you create a Pull Request for hits @Hellano :) Thanks for noticing in the first place!

[2019-04-28 04:31] ZeeEssDoubleU commented on #43
afdfd

[2019-04-28 04:33] ZeeEssDoubleU commented on #43
This is a new comment

[2019-04-30 17:47] ZeeEssDoubleU commented on #43
Thing

[2019-05-04 20:31] cwoz117 commented on #20
I see this error on:
 - Firefox Developer Edition 67.0b16 (64-bit)
 - Microsoft Edge 44.17763.1.0
 - Chrome Version 74.0.3729.131 (Official Build) (64-bit)

with versions running on Ubuntu18.04 WSL:
- nodejs version v8.10.0
- npm version 3.5.2
- react version 16.8.5-canary-297165f1e

The physical book I'm using has its last changelog as 10. January 2017, but this section in chapter 3 appears uncha

[2019-05-09 14:50] YazanALMonshed opened #202 "access a state object"
How to access a state object variable using another dynamic state variable

[2019-05-22 18:59] RicardoBastos commented on #43
aa

[2019-06-03 10:13] TechStacker commented on #43
Great help, thank you!

[2019-06-18 09:48] katopz opened #203 "Translate to Thai"
This should take me some time but I willing to do it anyway because your story and style really inspire me 👍

Please guide me on what to do. Thanks!

[2019-06-19 20:28] rwieruch commented on #203
Hey @katopz Wow, thanks for your interest. I tried to learn Thai two years ago when I was there, but it was just too difficult :)

You should have read/write permissions to https://github.com/the-road-to-learn-react/the-road-to-learn-react-thai From there, you can copy everything from https://github.com/the-road-to-learn-react/the-road-to-learn-react over to this new repository. Then start transla

[2019-06-24 04:09] Nguyen1217 commented on #43
tut

[2019-06-24 04:09] Nguyen1217 commented on #43
uiy

[2019-06-30 08:38] pdimova opened #204 "refs in stateless components"
You sure about `this.input` when passing the ref?

[2019-06-30 10:52] rwieruch commented on #204
Please ignore it. I see that there went something wrong in the process of the recent proofreading :)

[2019-07-18 13:27] unmem opened #205 "Would you mind to change the `bit.ly links` to direct links ?"
In China, with the Great Firewall, people live in China can't access almost every foreign websites, please help

[2019-07-27 00:54] snowman commented on #205
no way, Chinese is stupid that I can't help with. They have to help themselves instead of requiring we make some changes.

[2019-07-27 00:54] #205 closed

[2019-07-27 11:01] rwieruch commented on #205
You can't say I don't care about Chinese people: https://github.com/the-road-to-learn-react/the-road-to-learn-react-chinese If I would use direct links, they would be too long for the print edition of the book. Hence I used bitly links. Didn't know that they weren't accessible in China. Sorry. But I cannot work more than 24hours a day for free, so sorry that I cannot answer every issue. I am worki

[2019-08-02 18:25] jonportelli commented on #43
comment

[2019-08-14 11:11] kinglarce commented on #43
Thanks

[2019-08-14 11:11] kinglarce commented on #43
Thanks

[2019-08-14 11:58] kinglarce commented on #85
HOC component

[2019-08-14 12:04] kinglarce commented on #43
testing

[2019-08-14 12:23] kinglarce commented on #43
test

[2019-08-14 12:27] kinglarce commented on #43
test

[2019-08-14 12:28] kinglarce commented on #43
last one

[2019-08-14 12:35] kinglarce commented on #43
asdf

[2019-08-14 12:44] kinglarce commented on #43
asdfadsf

[2019-08-14 13:17] kinglarce commented on #43
adsfa

[2019-08-14 13:20] kinglarce commented on #43
asdf

[2019-08-14 13:22] kinglarce commented on #43
asdfasdf

[2019-08-14 14:02] kinglarce commented on #43
asdf

[2019-08-14 14:04] kinglarce commented on #43
aaaa

[2019-08-14 14:06] kinglarce commented on #43
qwewqe

[2019-08-14 14:07] kinglarce commented on #43
qwewq

[2019-08-14 14:08] kinglarce commented on #43
qweqwe

[2019-08-14 14:09] kinglarce commented on #43
dfgh

[2019-08-14 14:10] kinglarce commented on #43
rtyuyrtu

[2019-08-14 14:11] kinglarce commented on #43
cvbncv

[2019-08-14 14:11] kinglarce commented on #43
ryturtyu

[2019-08-14 14:12] kinglarce commented on #43
weqrwqer

[2019-08-14 14:14] kinglarce commented on #43
the tid

[2019-08-14 14:15] kinglarce commented on #43
happening

[2019-08-14 14:18] kinglarce commented on #43
agaga

[2019-08-14 14:22] kinglarce commented on #43
wertwet

[2019-08-14 14:28] kinglarce commented on #43
retertre

[2019-08-14 14:29] kinglarce commented on #43
rwetrewt

[2019-08-14 14:30] kinglarce commented on #43
wqeqwe

[2019-08-14 14:30] kinglarce commented on #43
fghjfhgj

[2019-08-14 14:31] #43 closed

[2019-08-14 14:33] kinglarce commented on #81
comment

[2019-08-14 14:34] kinglarce commented on #81
comment

[2019-08-14 14:37] kinglarce commented on #81
comment

[2019-08-14 14:38] kinglarce commented on #81
comment again

[2019-08-19 16:04] tyleryoungblood opened #207 "Wikipedia MVC link in chapter1.md (line 9) shows â€” instead of dash (PDF version). Link broken."
I attempted to create a PR for this, but when I cloned the repo the markdown file already showed the proper dashes (meaning there was no change to be made). Other links with dashes seem to be rendering fine. Perhaps the PDF needs to be re-rendered?

[2019-10-01 23:06] teemopower commented on #86
sd

[2019-11-28 17:13] DRosmait commented on #81
asfdf

[2019-11-28 17:16] DRosmait commented on #81
dsfa

[2019-12-02 06:16] DRosmait commented on #81
cool

[2019-12-02 06:18] DRosmait commented on #81
cool

[2019-12-19 03:02] robbailey93 commented on #81
Testing comment.....Great job on the tutorial! One of the better ones out there.

[2019-12-25 09:27] reznik789 commented on #81
My test comment

[2019-12-25 17:06] reznik789 commented on #81
My test comment 2

[2019-12-25 17:19] reznik789 commented on #81
My test comment 3

[2019-12-25 17:22] reznik789 commented on #81
My test comment

[2019-12-25 17:51] reznik789 commented on #81
My test comment2

[2019-12-25 17:53] reznik789 commented on #81
My test comment3

[2019-12-27 06:38] reznik789 commented on #81
comment text

[2019-12-27 06:40] reznik789 commented on #81
My comment to the issue!!!

[2019-12-27 06:40] reznik789 commented on #81
My comment to the issue2!!!

[2019-12-27 07:10] reznik789 commented on #81
New comment !!!

[2019-12-27 07:13] reznik789 commented on #81
sdfasdf

[2019-12-27 07:14] reznik789 commented on #81
adfadfsdf

[2019-12-27 07:16] reznik789 commented on #81
sadfasdf

[2019-12-27 07:20] reznik789 commented on #81
New comment

[2019-12-27 07:35] Nodewebzsz commented on #81
dwqqdwdqw

[2019-12-27 07:35] Nodewebzsz commented on #81
fsdfewewf

[2019-12-27 10:16] reznik789 commented on #81
Test comment

[2019-12-27 10:17] reznik789 commented on #81
Test comment 2

[2020-01-30 13:12] jacklrj commented on #81
mnbmvcxvcxv

[2020-01-30 13:23] jacklrj commented on #81
455555555bb

[2020-01-30 13:23] jacklrj commented on #81
455555555bb

[2020-01-30 13:23] jacklrj commented on #81
hghfg

[2020-01-30 13:23] jacklrj commented on #81
hgfhgf

[2020-01-30 13:23] jacklrj commented on #81
hgfhgfg

[2020-01-30 13:27] jacklrj commented on #81
tests

[2020-01-30 13:41] jacklrj commented on #81
testgdf

[2020-01-30 13:43] jacklrj commented on #81
gfdgfd

[2020-01-30 13:44] jacklrj commented on #81
gfdgdf

[2020-01-30 13:45] jacklrj commented on #81
hgfhf

[2020-01-31 01:51] jacklrj commented on #81
testg

[2020-01-31 01:53] jacklrj commented on #81
yfgh

[2020-01-31 01:53] jacklrj commented on #81
hghgv

[2020-01-31 01:55] jacklrj commented on #81
hghgvbvc

[2020-01-31 01:55] jacklrj commented on #81
hghgvbvcmbn

[2020-01-31 01:55] jacklrj commented on #81
hghgvbvcmbnjg

[2020-01-31 01:57] jacklrj commented on #81
mbjmjh

[2020-01-31 05:13] jacklrj commented on #81
jhgjhjlkjlk

[2020-01-31 13:45] jacklrj commented on #81
test

[2020-01-31 13:45] jacklrj commented on #81
testgfd

[2020-01-31 13:45] jacklrj commented on #81
bcvbvbdf

[2020-02-02 21:20] jacklrj commented on #81
vcxvxc

[2020-02-02 21:39] jacklrj commented on #81
hgfhfghfg

[2020-02-02 21:41] jacklrj commented on #81
hgfhgf

[2020-02-03 09:06] jacklrj commented on #81
trtst

[2020-02-03 09:24] jacklrj commented on #81
gfdg

[2020-02-03 09:25] jacklrj commented on #81
gfdgd

[2020-02-03 09:51] jacklrj commented on #81
gfdgdj

[2020-02-03 09:52] jacklrj commented on #81
jh

[2020-02-03 09:52] jacklrj commented on #81
iu

[2020-02-03 09:53] jacklrj commented on #81
gfd

[2020-02-03 10:43] jacklrj commented on #81
uyt

[2020-02-03 14:05] jacklrj commented on #81
854

[2020-02-04 06:10] jacklrj commented on #81
trdg

[2020-02-04 06:12] jacklrj commented on #81
yk

[2020-02-04 06:13] jacklrj commented on #81
yrtgfd

[2020-02-04 06:13] jacklrj commented on #81
jhg

[2020-02-04 06:26] jacklrj commented on #81
yty

[2020-02-04 06:27] jacklrj commented on #81
55

[2020-02-04 06:28] jacklrj commented on #81
fdsfs

[2020-02-04 06:31] jacklrj commented on #81
gfdg

[2020-02-04 06:33] jacklrj commented on #81
gfdggfd

[2020-02-04 06:35] jacklrj commented on #85
hgfgh

[2020-02-04 07:15] jacklrj commented on #81
tre

[2020-02-04 07:23] jacklrj commented on #81
hgf

[2020-02-04 07:23] jacklrj commented on #81
hgf

[2020-02-04 07:23] jacklrj commented on #81
hgfl

[2020-02-04 07:28] jacklrj commented on #81
ljlj

[2020-02-04 07:29] jacklrj commented on #81
ljlj

[2020-02-04 07:30] jacklrj commented on #81
wahat

[2020-02-04 07:31] jacklrj commented on #81
wahat';l

[2020-02-04 07:31] jacklrj commented on #81
wahat';ljjj

[2020-02-04 07:33] jacklrj commented on #81
trdt

[2020-02-04 07:34] jacklrj commented on #81
mnb

[2020-02-04 07:35] jacklrj commented on #81
uygu

[2020-02-04 07:41] jacklrj commented on #81
fg

[2020-02-04 07:44] jacklrj commented on #81
wht

[2020-02-04 07:48] jacklrj commented on #81
tets

[2020-02-04 08:39] jacklrj commented on #81
ytryrt

[2020-02-04 08:39] jacklrj commented on #81
ytryrt

[2020-02-04 08:40] jacklrj commented on #81
ytryrt

[2020-02-04 08:55] jacklrj commented on #81
pls

[2020-02-04 08:56] jacklrj commented on #81
13

[2020-02-04 08:58] jacklrj commented on #81
test

[2020-02-04 08:59] jacklrj commented on #81
tests

[2020-02-04 09:00] jacklrj commented on #81
testss

[2020-02-04 09:02] jacklrj commented on #81
hahaha

[2020-02-04 09:06] jacklrj commented on #81
tests

[2020-02-04 09:07] jacklrj commented on #81
testnn

[2020-02-04 09:09] jacklrj commented on #81
tests

[2020-02-12 10:41] shayegh opened #209 "Translate to Persian"
Hi,
May I help you to translate this awesome book into Persian(Farsi).
Please help me to found out how can I help you.

[2020-03-28 13:21] anpengyu commented on #81
taro